@model Tech_Meetups_Final_Project.Models.MeetupRegistration

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MeetupRegistration</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MeetUp.EventTitle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MeetUp.EventTitle)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Participant.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Participant.Name)
        </dd>

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
